git+https://github.com/DisnakeDev/disnake.git
git+https://github.com/m1raynee/disnake-ext-menus
git+https://github.com/LonelyGuy12/disnake_together
git+https://github.com/sync1211/Wavelink-Disnake
wikipedia
typehint
googlesearch-python
bs4
simpcalci
praw
PyDictionary
python-dateutil
async-timeout
python-dotenv
PyNaCl
python-math
disnake-jishaku
pyfiglet
pytimeparse
psutil
disnake-paginator