git+https://github.com/DisnakeDev/disnake.git
git+https://github.com/m1raynee/disnake-ext-menus
git+https://github.com/sync1211/Wavelink-Disnake
ffmpeg-python
disnake-together
wikipedia
typehint
googlesearch-python
bs4
Flask
simpcalci
praw
PyDictionary
python-dateutil
youtube_dl
async-timeout
python-dotenv
PyNaCl
python-math
dnspython
GitPython
motor
websockets
disnake-jishaku
sentry-sdk
pyfiglet
pytimeparse
psutil
lyricsfinder
disnake-paginator
