git+https://github.com/DisnakeDev/disnake.git
git+https://github.com/m1raynee/disnake-ext-menus
https://github.com/sync1211/Wavelink-Disnake/archive/refs/heads/master.zip
ffmpeg-python
disnake-together
wikipedia
typehint
googlesearch-python
bs4
Flask
simpcalci
praw
PyDictionary
python-dateutil
youtube_dl
async-timeout
python-dotenv
PyNaCl
python-math
dnspython
GitPython
motor
websockets
pyttanko
jishaku
sentry-sdk
pyfiglet
pytimeparse
psutil
